.final {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  flex-direction: column;
}

.finalimg {
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgb(43, 42, 42);
  transition: 0.2s;
}



.finaltxt {
  font-size: 24px;
}

@media (max-width:480px){
.finalimg{
  height:280px;
}
}