.whole {
  display: flex;
  flex-direction: column;
}

.mainbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
}

.contextbox {
  width: 600px;
}



.filler {
  border-radius: 10px;
}

.about-head {
  font-size: 25px;
}

.about-cont {
  font-size: 19px;
}

@media (max-width:480px) {
  .mainbox{
    flex-direction: column;
  }
  
  .contextbox{
    width:400px;
  }

  .filler{
    height:280px
  }

  .picbox{
    padding-bottom: 60px;
  }
}
